[submodule "include/raffer/language"]
	path = include/raffer/language
	url = https://github.com/PaulRaffer/raffer_cpplib-language
	branch = cpp11
[submodule "include/raffer/system"]
	path = include/raffer/system
	url = https://github.com/PaulRaffer/raffer_cpplib-system
	branch = cpp11
[submodule "include/raffer/nested"]
	path = include/raffer/nested
	url = https://github.com/PaulRaffer/raffer_cpplib-nested
	branch = cpp17
[submodule "include/raffer/finally"]
	path = include/raffer/finally
	url = https://github.com/PaulRaffer/raffer_cpplib-finally
	branch = cpp11
[submodule "include/raffer/fraction"]
	path = include/raffer/fraction
	url = https://github.com/PaulRaffer/raffer_cpplib-fraction
	branch = cpp14
[submodule "include/raffer/number_theory"]
	path = include/raffer/number_theory
	url = https://github.com/PaulRaffer/raffer_cpplib-number_theory
	branch = cpp20
[submodule "include/raffer/operators"]
	path = include/raffer/operators
	url = https://github.com/PaulRaffer/raffer_cpplib-operators
	branch = cpp14
[submodule "include/raffer/container"]
	path = include/raffer/container
	url = https://github.com/PaulRaffer/raffer_cpplib-container
	branch = cpp17
[submodule "include/raffer/logic"]
	path = include/raffer/logic
	url = https://github.com/PaulRaffer/raffer_cpplib-logic
	branch = cpp20
[submodule "include/raffer/overload_set"]
	path = include/raffer/overload_set
	url = https://github.com/PaulRaffer/raffer_cpplib-overload_set
	branch = cpp17
[submodule "include/raffer/regex"]
	path = include/raffer/regex
	url = https://github.com/PaulRaffer/raffer_cpplib-regex
	branch = cpp17
[submodule "include/raffer/string"]
	path = include/raffer/string
	url = https://github.com/PaulRaffer/raffer_cpplib-string
	branch = cpp17
[submodule "include/raffer/switch"]
	path = include/raffer/switch
	url = https://github.com/PaulRaffer/raffer_cpplib-switch
	branch = cpp17
[submodule "include/raffer/color"]
	path = include/raffer/color
	url = https://github.com/PaulRaffer/raffer_cpplib-color
	branch = cpp20
